@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

html {
  font-family: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  position: relative;
  font-size: 14px;
}

/* Hero */
.hero {
  position: relative;
  background: rgba(0, 0, 0, 0.73);
  color: white;
  height: 208px;
  width: 100%;
  display: flex;
}
.hero-heading {
  position: absolute;
  top: 50px;
  left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.hero-title {
  font-weight: 800;
  font-size: 38px;
}
.hero-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 21%;
}

.hero-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-top: 0.9rem;
  margin-right: 1.2rem;
}

/* Input Group */
#searchBar {
  border: none;
}
.input-group {
  border: 1px solid #d1d5db;
  width: 435px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.input-group input {
  flex-grow: 1;
  height: 90%;
  outline: none;
  color: #6b7280;
  margin: 0 8px;
}
.input-group .fa-search {
  color: black;
  opacity: 0.6;
  margin-left: 1rem;
  cursor: pointer;
}
.input-group .btn {
  height: 100%;
  width: 128px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* Content Body */
.content-body {
  position: relative;
  height: 100vh;
  padding-top: 4rem;
}
#noData {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
  font-size: 18px;
  font-weight: 700;
}
#noData .fa-film {
  display: block;
}
#noData p {
  margin: 0;
}

/* Movie Block */
.movie-container {
  display: flex;
  justify-content: row;
  border-bottom: 1px solid #6b7280;
  margin: 1rem;
  padding-bottom: 2rem;
}

.movie-header {
  display: flex;
  align-items: center;
}
.movie-header .fa-star {
  margin: 0 0.3rem 0 0.6rem;
  margin-top: 0.8rem;
  color: gold;
}
.movie-content {
  margin-left: 1rem;
}
.movie-tags {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-desc {
  color: #6b7280;
}

.watchlist-add {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.watchlist-add .fa-plus {
  margin-top: 0.8rem;
}
.watchlist-add p {
  margin-left: 0.5rem;
}
.watchlist-add:hover {
  color: gold;
}

/* Utility Classes */

.clear__bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
.container {
  max-width: 450px;
  margin: 0 auto;
}
@media screen and (min-width: 1040px) {
  .container {
    max-width: 1040px;
  }
}
